body {
  font: 100% Helvetica, sans-serif;
  color: #555;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  padding: 0; }

.grid-container {
  max-width: 1000px;
  margin: auto;
  background: white;
  display: grid;
  gap: 1rem; }

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-area: nav;
  background: #509bf5;
  padding: 1rem;
  text-decoration: none; }

nav img {
  margin: 0px 0px 0px 10vw;
  margin-right: auto;
  width: 5rem; }

nav button {
  display: none; }

nav section a {
  justify-content: space-between;
  text-decoration: none;
  color: white;
  margin: 0.1rem;
  padding: 0.4rem; }

header {
  display: flex;
  background: #5082f5;
  justify-content: center;
  align-items: center; }

header {
  grid-area: header;
  height: 50vh; }

header section {
  margin: 0px 0px 0px 10vw;
  margin-right: auto;
  padding: 1rem; }

header section h1 {
  font-size: x-large;
  padding: 1rem; }

header section p {
  padding: 1rem; }

header section .button {
  border-radius: 13vh;
  background-color: green;
  color: lightgray;
  font-size: small;
  height: 1rem;
  border-width: 1px;
  padding: 0.5rem;
  margin: 16px;
  width: 40vw; }

main {
  max-width: 1000px; }

main.grid-container .product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  background: grey;
  margin: 0 auto; }

main.grid-container .product img {
  width: 10rem; }

main.grid-container h1 {
  grid-column: auto / span 4;
  text-align: center;
  padding: 1rem; }

main.grid-container h2 {
  grid-column: auto / span 4;
  text-align: center;
  padding: 1rem; }

main.grid-container p {
  grid-column: auto / span 4;
  text-align: center;
  padding: 1rem; }

main.grid-container .product {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-items: center;
  grid-column: auto / span 1;
  background: grey;
  background-color: #fff;
  height: 20rem; }

main.grid-container .card h3 {
  grid-column: auto / span 3;
  display: flex;
  align-items: center;
  justify-items: center;
  background: whitesmoke;
  height: 40rem;
  border-width: thin;
  border-radius: 0.1rem;
  height: 30rem; }

footer.bottom_menu {
  max-width: 1000;
  grid-area: footer;
  background: black;
  width: 100%; }

@media screen and (max-width: 780px) {
  header {
    background: #509bf5; } }

@media screen and (max-width: 375px) {
  body {
    background: #555; }
  nav {
    background: black; }
  nav section a {
    display: none;
    background: #555; }
  nav button img {
    display: flex;
    width: 1rem;
    height: 1rem;
    margin: 0;
    margin-left: auto;
    margin: auto;
    color: #509bf5; }
  nav button {
    display: flex; }
  header {
    background: #509bf5; }
  header section .button {
    border-radius: 13vh;
    background-color: green;
    color: lightgray;
    font-size: small;
    height: 1rem;
    border-width: 1px;
    padding: 0.5rem; }
  main.grid-container {
    grid-template-columns: repeat(2, 1fr); }
  header section {
    display: cover; } }
