body {
  font: 100% Helvetica, sans-serif;
  color: #555;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  padding: 0; }

div {
  background: url(https://campaigns-test.scdn.co/images/premium_dancer.png) right bottom/50vh no-repeat #509bf5;
  height: 57vh; }

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-area: nav;
  padding: 1rem;
  text-decoration: none; }

nav img {
  margin: 0px 0px 0px 10vw;
  margin-right: auto;
  width: 5rem; }

nav button {
  display: none; }

nav section a {
  justify-content: space-between;
  text-decoration: none;
  font-weight: bold;
  color: white;
  margin: 3rem;
  padding: 0.4rem; }

header {
  display: flex;
  justify-content: center;
  align-items: center; }

header section {
  margin: 0px 0px 0px 10vw;
  margin-right: auto;
  padding: 1rem;
  color: white;
  font-size: x-large; }

header section .button {
  border-radius: 13vh;
  background-color: green;
  color: lightgray;
  font-size: small;
  height: 1rem;
  border-width: 1px;
  padding: 0.5rem;
  width: 40vw; }

.grid-container {
  max-width: 1000px;
  background: white;
  display: grid;
  gap: 1rem; }

main.grid-container .product img {
  grid-column: auto / span 4;
  text-align: center;
  padding: .5rem;
  width: 10rem;
  margin: 0px 0px 0px 10vw; }

main.grid-container h1 {
  grid-column: auto / span 4;
  text-align: center;
  padding: 0.5rem; }

main.grid-container h2 {
  grid-column: auto / span 4;
  text-align: center; }

main.grid-container p {
  grid-column: auto / span 4;
  text-align: center; }

main.grid-container .product {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-items: center;
  grid-column: auto / span 1;
  background-color: #fff;
  height: 30rem; }

footer.bottom_menu {
  max-width: 1000;
  grid-area: footer;
  background: black;
  width: 100%;
  padding: 2rem; }

@media screen and (min-width: 375px) and (max-width: 780px) {
  header {
    background: #509bf5; }
  div {
    background: #509bf5; }
  main.grid-container .product {
    grid-template-columns: repeat(2, 1fr); }
  main.grid-container h1 {
    grid-column: auto / span 2; }
  main.grid-container h2 {
    grid-column: auto / span 2; }
  main.grid-container p {
    grid-column: auto / span 2; }
  main.grid-container .product {
    grid-column: auto / span 2; }
  main.grid-container .card h3 {
    grid-column: auto / span 2; } }

@media screen and (max-width: 375px) {
  body {
    background: #555; }
  div {
    background: #509bf5; }
  nav {
    background: black; }
  nav section a {
    display: none;
    background: #555; }
  nav button img {
    display: flex;
    width: 1rem;
    height: 1rem;
    margin: 0;
    margin-left: auto;
    margin: auto;
    color: #509bf5; }
  nav button {
    display: flex; }
  header {
    background: #509bf5;
    margin: 0; }
  header section .button {
    border-radius: 13vh; }
  main.grid-container .product {
    grid-template-columns: repeat(1, 1fr); }
  main.grid-container .product img {
    width: 10rem; }
  main.grid-container h1 {
    grid-column: auto / span 1; }
  main.grid-container h2 {
    grid-column: auto / span 1; }
  main.grid-container p {
    grid-column: auto / span 1; }
  main.grid-container .product {
    grid-column: auto / span 1; }
  main.grid-container .card h3 {
    grid-column: auto / span 1; }
  header section {
    display: cover; } }
